		nav navbar-nav
		{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: black;
			position: relative;
			top: 0;
			width: 100%;
		}
		nav navbar navbar-invers
		{
			margin: 0px;
		}